# ignore all files in the build directory 
build / 

# ignore all files in the dist directory 
dist / 

# ignore all files in the .tox directory 
.tox / 

# ignore all files in the .eggs directory 
.eggs / 

# ignore all files in the .cache directory 
.cache / 

# ignore all files in the .pytest_cache directory 
.pytest_cache / 

# ignore all files in the .mypy_cache directory 
.mypy_cache / 

# ignore all files in the .coverage directory 
.coverage / 

# ignore all files in the .coverage.* files
.coverage.*

# Ignore Flask session files
flask_session/


# ignore all files in the .idea directory 
.idea / 

# ignore all files in the .vscode directory
.vscode /



*.pyc