<!DOCTYPE html>
<html>
	<head>
		<title>User List</title>
	</head>
	<body>
		<h1>User List</h1>
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				{% for user in users %}
				<tr>
					<td>{{ user[0] }}</td>
					<td>{{ user[1] }}</td>
					<td>{{ user[2] }}</td>
					<td>
						<a href="{{ url_for('activity.show', id=user[0]) }}">Show</a>
						<a href="{{ url_for('activity.edit', id=user[0]) }}">Edit</a>
						<a href="{{ url_for('activity.delete', id=user[0]) }}">Delete</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<a href="{{ url_for('activity.new') }}">Create New User</a>
	</body>
</html>
